<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#<%=channel%></title>
</head>
<body>
    
	<!-- Add a placeholder for the Twitch embed -->
	<div id="twitch-embed"></div>
	<!-- Load the Twitch embed script -->
	<script src="https://embed.twitch.tv/embed/v1.js"></script>

	<!-- Create a Twitch.Embed object that will render within the "twitch-embed" element. -->
	<script type="text/javascript">
	var embed = new Twitch.Embed("twitch-embed", {
		width: 854,
		height: 480,
		channel: "<%=channel%>",
		layout: "video-with-chat",
		autoplay: true,
		theme: "dark",
		// Only needed if this page is going to be embedded on other websites
	});

	embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
		var player = embed.getPlayer();
		player.play();
	});
	</script>
    
</body>
</html>