<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>FAQ</title>

</head>
<body>
    <h3>Was ist Krummibot?</h3>
    <p>Krummibot ist ein Opensource Twitch-Chatbot. Er soll dem Streamern und Viewer bei der Interaction mit dem Stream helfen<br></p>
</body>
</html>