<h1>Willkommen</h1>
<p>Das ist der start eines tollen Opensource Projekt.<br> Krummibot ist ein Twitch-Chatbot, der von <a href="https://www.twitch.tv/mrkrummschnabel">MrKrummschnabel</a> entwickelt wird. <br>
Wenn ihr mehr erfahren wollt klickt auf den Namen MrKrummschnabel oder schaut auf Github vorbei: <a href="https://www.github.com/larsstreit/krummibot">Krummibot</a> <br> 
Wenn ihr Ideen und Vorschläge habt lasst sie mich wissen entweder als Pullrequest oder auf meinem <a href="https://discord.gg/azAFTNTACb">Discord</a><br><br>
Zum verwenden des Bots müsst ihr den Anleitung im Github-Repo folgen.
</p>
<h1>Verwendet nicht den Loginbereich, !!dient nur zu Testzwecken und ist nicht sicher für sensible Daten!!</h1>
<a href="/login">Login</a>