<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
    <h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Lars Streit<br />
Aachener Stra&szlig;e 15<br />
53518 Honerath</p>

<h2>Kontakt</h2>
<p>Telefon: 015221555179<br />
E-Mail: ls.larsstreit@t-online.de</p>

<p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
<!--<a href="/dsgvo">dsgvo</a>-->

</body>
</html>